<% layout("layouts/boilerplate")%>  
<body>

    <style>
        #filters{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }

        .filter{
            text-align: center;
            margin-top: 1rem;
            margin-right: 2rem;
            opacity: 0.5;
        }

        .filter:hover {
            opacity: 1;
            cursor: pointer;
        }
        .filter p{
            font-size: 0.9rem;
        }
        .tax-toggle{
            border: 0.3px solid black;
            border-radius: 1rem;
            height: 3.25rem;
            display: flex;
            align-items: center;
            padding: 1rem;
            margin-left: 3rem;
            opacity: 0.5;
        }
        .tax-toggle:hover {
            opacity: 1;
            cursor: pointer;
        }
    </style>

    <div id="filters">
        <div class="filter">
            <i class="fa-solid fa-fire"></i>
            <p>trending</p>
        </div>
        <div class="filter">
            <i class="fa-solid fa-bed"></i>
            <p>rooms</p>
        </div>
        <div class="filter">
            <i class="fa-solid fa-city"></i>
            <p>Iconic cities</p>
        </div>
        <div class="filter">
            <i class="fa-solid fa-mountain"></i>
            <p>mountains</p>
        </div>
        <div class="filter">
            <i class="fa-solid fa-chess-rook"></i>
            <p>castles</p>
        </div>
        <div class="filter">
            <i class="fa-solid fa-person-swimming"></i>
            <p>Amazing pools</p>
        </div>
        <div class="filter">
            <i class="fa-solid fa-campground"></i>
            <p>camping</p>
        </div>
        <div class="filter">
            <i class="fa-solid fa-tractor"></i>
            <p>farms</p>
        </div>
        <div class="filter">
            <i class="fa-solid fa-snowman"></i>
            <p>snow</p>
        </div>
        <div class="filter">
            <i class="fa-solid fa-sailboat"></i>
            <p>boat</p>
        </div>
        <div class="filter">
            <i class="fa-solid fa-igloo"></i>
            <p>igloo</p>
        </div>
        <div class="tax-toggle">
            <div class="form-check-reverse form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                <label class="form-check-label" for="flexSwitchCheckDefault">Display total cost after taxes</label>
              </div>
        </div>
    </div>
    <div class="row row-cols-lg-4 row-cols-md-2 row-cols-sm-1 mt-3">
        <% for(let listing of allListings){%>
            <a href="/listings/<%=listing._id%>" class="listing-link">
                <div class="card col listing-card" >
                    <img src="<%= listing.image.url %>" class="card-img-top" alt="Listing image" style="height: 20rem;">
                    <div class="card-img-overlay"></div>
                    <div class="card-body">
                        <p class="card-text">
                            <b><%=listing.title%></b>
                            <br>
                            &#8377;<%= listing.price.toLocaleString("en-IN")%>/night
                        </p>
                    </div>
                </div>
            </a>
        <%}%>
    </div>

    
</body>
